<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169343509253-57i1aqvkigfn9sedu7s1eq1j5flih5rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169343509253-57i1aqvkigfn9sedu7s1eq1j5flih5rb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>169343509253-gt8hmctle8bpjie4tjeouh6uiql6edmh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAkRLNg1JkZonHDbPIKwYAUst_KG79jvs</string>
	<key>GCM_SENDER_ID</key>
	<string>169343509253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTodo</string>
	<key>PROJECT_ID</key>
	<string>levelx-test-project</string>
	<key>STORAGE_BUCKET</key>
	<string>levelx-test-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169343509253:ios:5456d2e364dd224ad78d6c</string>
</dict>
</plist>